@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

@font-face {
    font-family: Lato-Regular;
    src: url('../fonts/Lato/Lato-Regular.ttf'); 
  }
  
  @font-face {
    font-family: Lato-Bold;
    src: url('../fonts/Lato/Lato-Bold.ttf'); 
  }  

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body{
    height: 100%;
    font-family: 'Poppins', sans-serif;
}
section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 3% 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    position: relative;
    max-width: 15%;
}
header ul{
    position: relative;
    display: flex;
}
header ul li{
    list-style: none;
    font-weight: 500;
    font-size: 1.5em;
    cursor: pointer;
}
header ul li a{
    display: inline-block;
    color: #15151e;
    font-weight: 500;
    margin-left: 40px;
    text-decoration: none;
}
.content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content .textBox{
    position: relative;
    max-width: 800px;
}
.content .textBox table{
    max-width: 500px;
}
.content .textBox .text{
    color: #C00000;
    font-size:  6em;
    line-height: 1em;
    font-weight: 900;
}
.content .textBox th{
    text-align: left;
    font-size:  1.4em;
    line-height: 1em;
    font-weight: 500;
    width: 250px;
}
.content .textBox td{
    text-align: left;
    font-size:  1.2em;
    line-height: 1em;
    font-weight: 400;
    width: 250px;
}
.content .imgBox{
    width: 600px;
    display: flex;
    justify-content: flex-end;
}
.content .imgBox img{
    max-width: 600px;
}
.thumb{
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%);
    display: flex;
}
.thumb li{
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
    transition: 0.5s;
}
.thumb li:hover{
    transform: translateY(-15px);
}
.thumb li img{
    max-width: 100px;
}
footer{
    background: #15151e;
    text-align: center;
    height: 250px;   
}
.container{
    width: 90%;
    margin: 0 auto;
    display: flex;
}
.col3{
    flex-grow: 1;
    width: 300px;
}
.sectionArea {
    padding: 30px 50px;
}
.footerItem{
    padding: 20px;
}
.footerItem img{
    height: 100px;
    width: 200px;
    /* opacity: .5; */
}
.footerItem ul li{
    list-style: none;
    font-weight: 700;
    font-size: 1em;
    line-height: 1.5em;
}
footer h3{
    color: #fff;
    font-weight: 900;
    font-size: 1.5em;
    margin-bottom: 20px;
    text-decoration: none;
}
footer p{
    padding: 10px;
    color: #95a5a6;
    line-height: 20px;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.5em;
    line-height: 1em;
}
footer .fab{
    font-size: 30px;
    color: #95a5a6;
    line-height: 40px;
    transition: .3s ease;
}
footer .fab:hover{
    color: #FFF;
}
.footerLinks a{
    text-decoration: none;
    color: #95a5a6;
    letter-spacing: 2px;
    transition: .3s ease;
}
.footerLinks a:hover{
    color: #FFF;
    text-decoration: underline;
}
.socialLinks li{
    display: inline-block;
    width: 60px;
    height: 60px;
}
.tel{
    font-size: 25px;
    font-family: PizzaPress, sans-serif;
    color: #95a5a6;
    text-decoration: none;
}


/* PILOTS CARDS */
.card{
    position: relative;
    width: 500px;
    height: 250px;
    margin: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 20px;
    /* background: #C00000; */
    background: linear-gradient(135deg, rgba(192,0,0,1) 0%, rgba(0,0,0,1) 90%);
}
.card img{
    position: absolute;
    bottom: 0;
    left: 40%;
    transform: translateX(-50%);
    height: 300px;
    transition: 0.5s;
}
.card:hover img{
    left: 65%;
    height: 350px;
}
.card .cardText{
    position: relative;
    width: 50%;
    left: 20%;
    padding: 20px 20px 20px 40px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}
.card:hover .cardText{
    opacity: 1;
    visibility: visible;
    left: 0%;
}
.card .cardText h2{
    color: #fff;
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 700;
    line-height: 1em;
}
.card .cardText p{
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 10px;
}

/* index background */
#mainSlider{
    width: 100%;
    background: url('../images/main-1.jpg') center center no-repeat;
    background-size: cover;
}
#mainCaption{
    min-height: 100vh;
    background: rgba(0,0,0,.7);
}
.caption{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    color:#000;
}
.menu{
    width: 30%;
    height: 30%;
    margin-left: 40%;
    text-align: center;   
}

/* buttons */
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    width: 300px;
    height: 100px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 30px;
    font-weight: 700;
    margin: 10px 10px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 10px;
}
.button1 {
    /* background-color: white; 
    color: #c00; 
    border: 2px solid #c00000; */

    background-color: #c00000; 
    color: #fff; 
    /* border: 2px solid #fff; */
}
  
.button1:hover {
    /* background-color: #c00000;
    color: white; */

    background-color: white ;
    color: #c00000;
}





/* STANDINGS PAGE */

.limiter {
    width: 100%;
    margin: 0 auto;
}
.container-table100 {
    width: 800px;
    min-height: 700px;
    background: #fff;
  
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items:flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 50px;
}
.wrap-table100 {
    width: 800px;
}
.table100 {
    position: relative;
    padding-top: 40px;
    background-color: #fff;
}
/*=========[ Ver1 ]========*/
.table100.ver1 th {
    font-family: Lato-Bold;
    font-size: 18px;
    color: #fff;
    line-height: 0.5;
    background-color: #c00000;
    text-align: start;
}
.table100.ver1 td {
    font-family: Lato-Regular;
    font-size: 16px;
    color: #808080;
    line-height: 1.2;
    text-transform: uppercase;
}
.table100.ver1 .table100-body tr:nth-child(even) {
    background-color: #f8f6ff;
}
.table100.ver1 {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
}

table {
    width: 100%;
}
th, td {
    font-weight: unset;
    text-align: flex-start;
}
.column1 {
    width: 10%;
    padding-left: 20px;
} 
.column2 {
    width: 30%;
    font-weight: 900;
} 
.column3 {
    width: 15%;
} 
.column4 {
    width: 35%;
} 
.column5 {
    width: 10%;
}
.table100-head th {
    padding-top: 20px;
    padding-bottom: 20px;
}
.table100-body td {
    padding-top: 15px;
    padding-bottom: 10px;
}
.table100-head {
    position: absolute;
    width: 800px;
    top: 0;
    left: 0;
}
.table100-body {
    max-height: 900px;
}
  

.circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(192,0,0,1) 0%, rgba(255,255,255,1) 95%);
    clip-path: circle(725px at right)
}


@media screen and (min-width: 1600px){
    /* index.html */
    section{
        padding: 80px;
    }
    header{
        padding: 30px 80px;
    }
    .content .textBox{
    max-width: 900px;
    }
    .content .textBox .text{
        color: #C00000;
        font-size:  7.6em;
    }
    .content .textBox th{
        text-align: left;
        font-size:  2.4em;
    }
    .content .textBox td{
        text-align: right;
        font-size:  2.2em;
    }
    header .logo{
        max-width: 200px;
        }
    /* pilots.html */
    .card{
        width: 800px;
        height: 400px;
        margin: 30px;
    }
    .card img{
        left: 50%;
        height: 450px;
    }
    .card:hover img{
        height: 500px;
        }
    .card .cardText{
        padding: 30px 30px 30px 50px;
    }
    .card .cardText h2{
        font-size: 3em;
    }
    .card .cardText p{
        font-size: 1.7em;
    }
}
@media screen and (max-width: 1024px) {
    /* index.html */
    section{
        padding: 30px;
    }
    header{
        padding: 10px 30px;
    }
    .content .textBox {
      max-width: 450px;
    }
    .content .textBox .text{
        color: #C00000;
        font-size:  3em;
    }
    .content .textBox th{
        text-align: left;
        font-size:  1em;
        line-height: 1em;
    }
    .content .textBox td{
        text-align: right;
        font-size:  1.2em;
        line-height: 1em;
    }
    .content .imgBox{
        width: 450px;
    }
    .content .imgBox img{
        max-width: 450px;
    }
    header .logo{
        max-width: 100px;
    }
    header ul li{
        font-weight: 500;
        font-size: 1em;
    }
    header ul li a{
        margin-left: 20px;
    }
    .thumb{
        left: 50%;
        bottom: 20px;
    }
    .thumb li{
        margin: 0 10px;
    }
    .thumb li:hover{
        transform: translateY(-15px);
    }
    .thumb li img{
        max-width: 50px;
    }
    .circle{
    clip-path: circle(500px at right)
    }

    /* pilots.html */
    .card{
        width: 420px;
        height: 250px;
        margin: 30px;
    }
    .card img{
        left: 40%;
        height: 275px;
    }
    .card:hover img{
        left: 65%;
        height: 300px;
    }
    .card .cardText{
        padding: 10px 10px 10px 30px;
    }
    .card .cardText h2{
        font-size: 1.5em;
    }
    .card .cardText p{
        font-size: 1em;
    }
}